/**
** FICHIER DE STYLE DU SITE DE RESERVIA
** @AUTEUR Jérémy ANGELE
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body{
    width: auto;
    margin: 0;
    padding: 0;
}

*{
    font-family: "Raleway", "Sans serif";
}

.container{
    width: 90%;
    margin: 0 auto;
}

/* FORMULAIRE */
form{
    display: flex;
    width: 100%;
}

.icon_mapMarker{
    height : inherit;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

.inputSearch{
    border: 1px solid #F2F2F2;
    font-weight: 700;
    font-size: 1em;
    padding-left: 10px;
    height: 45px;
}

.submitForm{ 
    display: block;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1em;
}

.submitForm.Mobile{
    display: none;
}

/* BLOCK FILTRE */
.btnFilter{
    background-color: #ffffff;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btnFilter:hover{
    background-color: #0065FC;
    transform: scale(1.015);
    color: #ffffff;
}

.btnFilter i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 20px;
    margin: -2px;
    color: #0065FC;
    width: 40px;
    height: 40px;
}


.nameFilter{
    font-weight: bold;
    font-size: 1em;
    margin: 0 1rem;
}

.result{
    display: flex;
}

.infoIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border-radius: 20px;
    border: 2px solid #F2F2F2;
}

/* HERBERGEMENT A MARSEILLE */
.herbergement{
    background-color: #ffffff;
    margin-bottom: 20px;
}

.titleHerbergement{
    display: flex;
}

.articlesHebergements article{
    background-color: #ffffff;
    margin: auto;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.imgHebergements img{
    width: 100%;
    height: 150px;
    margin: 0;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.infosHebergements{
    margin: 0 0.5rem;
}


/* ASIDE POPULAIRES */
section{
    padding-bottom: 20px;
}

.titlePopulaires{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside{
    background-color: #F2F2F2;
    padding-bottom: 20px;
}

.articlesPopulaires article{
    background-color: #ffffff;
    margin: 0 0 20px 0;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 150px;
}


.imgArticlesPopulaires img{
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
}

.starArticlesPopulaires{
    display: flex;
    align-items: flex-end;
}

.fas.fa-star.active{
    color: #0065FC;
}

.fas.fa-star{
    color: #F2F2F2;
}

.titleAfficherPlus a, h2{
    font-size: 1em;
    color: #000000;
}

a{
    text-decoration: none;
}

p{
    color: #000000;
}

/** ECRAN MOBILE INFERIEUR A 767px */
@media only screen and (max-width: 767px){

    /* header */
    /* navigation */
    .nav{
        margin-top: 1em;
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .nav > #logo{
        order: 1;
    }

    .nav > .inscription{
        order: 2;
    }

    .nav > ul{
        order: 3;
    }

    #logo{
        margin: 0 1.2rem;
    }

    #logo a{
        font-weight: bold;
        color:#0065FC;
    }

    .nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between ;
        padding: 0 ;
        width: 100%;
    }

    .nav ul li{
        width: 50%;
        text-align: center;
        height: 30px;
    }


    .nav.active.on {
        border-bottom: 3px #0065FC solid;  
    }

    .nav.active.on a {
        color: #0065FC;  
        position: relative;
        margin: auto;
    }

    .nav.active.off {
        border-bottom: 3px #F2F2F2 solid;  
    }
   
    .nav.active.off:active {
        border-bottom: 3px #0065FC solid;
    }

    .nav.active.off a:active {
        color: #0065FC;  
    }

    .nav.active.off a {
        color: #0065FC; 
        margin: auto;
    }

    .inscription{
        margin: 0 1.2rem;
    }

    .inscription a{
        color: #0065FC; 
        font-weight: bold;
    }

    /* FORMULAIRE */
    .icon_mapMarker{
        width: 20%;
    }

    .inputSearch{
        width: 60%;
    }

    .submitForm{ 
        display: none;
    }

    .submitForm.Mobile{
        display: block;
        width: 20%;
    }

    /* block filtres */
    .filtres{
        display: block;
    }

    .row.twoFilter{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .row.threeFilter{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }


    .btnFilter.rom{
        width: 50%;
        margin-bottom: 20px;
    }

    .btnFilter.ani{
        width: 65%;
        margin-bottom: 20px;
    }

    .nameFilter {
        margin: 0 1rem;
    }

    .infoIcon{
        font-size: 0.7em;
        margin: 0 0.5rem 0  0;
        width: 30px;
        height: 20px;
    }

    /* SECTION ARTICLES */
    .articles{
        display: flex;
        flex-direction: column-reverse;
    }

    /* HERBERGEMENT A MARSEILLE */

    .titleHerbergement{
        font-size: 15px;
    }

    .articlesHebergements article{
        margin-bottom: 20px;
    }
    
    .imgHebergements img {
        height: 120px;
    }
    
    .infosHebergements h2{
        font-size: 15px;
        margin-block-start : 8px;
        margin-block-end : 8px;
    }

    .infosHebergements p{
        margin-block-start : 0;
        margin-block-end : 5px;
        font-size: 12px;
    }

    .starHebergements i {
        font-size: 12px;
    }

    /* ASIDE POPULAIRES */
    .imgArticlesPopulaires{
        width: 40%;
    }

    .infosArticlesPopulaires{
        width: 50%;
        padding: 0 1rem;
    }

    .infosArticlesPopulaires h2{
        font-size: 15px;
        margin-block-end : 8px;
    }

    .infosArticlesPopulaires p{
        margin-block-start : 0;
        font-size: 13px;
    }

    .starArticlesPopulaires{
        height: 35%;
    }

    /* ACTIVITES A MARSEILLE */
    .articlesActivity{
        display: block;
    }

    figure{
        background-color: #ffffff;
        margin: auto;
        border-radius: 1.25rem;
        box-shadow: 0 0 16px #0000000e;
        transition-duration: 0.1s;
        cursor: pointer;
        box-sizing: border-box;
        width: 100%;
        height: 170px;
        margin-bottom: 20px;
    }

    figure img{
        width: 100%;
        height: 120px;
        margin: 0;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }

    figure figcaption{
        margin: 0.7rem 1rem;
        font-weight: bold;
        font-size: 15px;
    }

    /** 
    * BLOC FOOTER
    */
    footer {
        background-color: #F2F2F2;
        padding: 10px 0 10px 0;
    }

    footer h2{
        margin: 2rem 0 1rem 0;
    }

    footer ul{
        padding: 0;
        list-style: none;
    }

    footer li{
        margin: 1rem 0;
        color: #000000;
    }

    footer .cols-3{
        margin-bottom: 20px;
    }

}

/** CAS SPECIFIQUE ECRAN MOBILE INFERIEUR A 350px */
@media only screen and (max-width: 350px){
    .btnFilter.eco .nameFilter {
        margin: 0 0.5rem;
    }

    .btnFilter.rom{
        width: 60%;
    }

    .btnFilter.ani{
        width: 75%;
    }

    .infosArticlesPopulaires h2 {
        font-size: 15px;
        margin-block-start: 8px;
        margin-block-end: 8px;
    }

}


/* TABLETTE */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    
    /* header */
    /* navigation */
    .nav{
        margin-top: 1em;
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .nav > #logo{
        order: 1;
    }

    .nav > .inscription{
        order: 2;
    }

    .nav > ul{
        order: 3;
    }

    #logo{
        margin: 0 2.5rem;
    }

    #logo a{
        font-weight: bold;
        color:#0065FC;
    }

    .nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between ;
        padding: 0 ;
        width: 100%;
    }

    .nav ul li{
        width: 50%;
        text-align: center;
        height: 30px;
    }

    .nav.active.on {
        border-bottom: 3px #0065FC solid;  
    }

    .nav.active.on a {
        color: #0065FC;  
        position: relative;
        left: 7px;
        margin: auto;
    }

    .nav.active.off {
        border-bottom: 3px #F2F2F2 solid;  
    }
   
    .nav.active.off:active {
        border-bottom: 3px #0065FC solid;
    }

    .nav.active.off a:active {
        color: #0065FC;  
    }

    .nav.active.off a {
        color: #0065FC; 
        margin: auto;
    }

    .inscription{
        margin: 0 2.5rem;
    }

    .inscription a{
        color: #0065FC; 
        font-weight: bold;
    }

    /* FORMULAIRE */
    .icon_mapMarker{
        width: 10%;
    }

    .inputSearch{
        width: 30%;
    }

    .submitForm{ 
        display: none;
    }

    .submitForm.Mobile{
        display: block;
        width: 10%;
    }


     /* block filtres */
     .filtres{
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .row.twoFilter{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60%;
    }

    .row.threeFilter{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .btnFilter{
        margin-right: 20px;
    }

    .result{
        align-items: center;
    }

    .infoIcon{
        font-size: 0.7em;
        margin: 0 1rem 0  0;
        width: 30px;
        height: 30px;
    }

    /* SECTION ARTICLES */
    .articles{
        display: flex;
        flex-direction: column-reverse;
    }
    
    /* HERBERGEMENT A MARSEILLE */
    .articlesHebergements{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content : space-between;
       
    }

    .articlesHebergements article{
        width: 45%;
        margin: 0 0 20px 0;
    }
    

    .infosHebergements h2{
        font-size: 15px;
        margin-block-start : 8px;
        margin-block-end : 8px;
    }

    .infosHebergements p{
        margin-block-start : 0;
        margin-block-end : 5px;
        font-size: 12px;
    }

    .starHebergements i {
        font-size: 12px;
    }
    
    /* ASIDE POPULAIRES */
    .imgArticlesPopulaires{
        width: 40%;
    }

    .infosArticlesPopulaires{
        width: 50%;
        padding: 0 2rem;
    }

    .infosArticlesPopulaires h2{
        font-size: 18px;
        margin-block-start : 8px;
        margin-block-end : 8px;
    }

    .infosArticlesPopulaires p{
        margin-block-start : 0;
    }

    .starArticlesPopulaires{
        height: 40%;
    }

    /* ACTIVITES A MARSEILLE */
    .articlesActivity{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .one.activity{
        width: 45%;
    }

    .two.activity{
        width: 45%;
    }
    
    figure{
        background-color: #ffffff;
        margin: auto;
        border-radius: 1.25rem;
        box-shadow: 0 0 16px #0000000e;
        transition-duration: 0.1s;
        cursor: pointer;
        box-sizing: border-box;
        width: 100%;
        height: 170px;
        margin-bottom: 20px;
    }

    .one.activity figure{
        height: 360px;
    }

    figure img{
        width: 100%;
        height: 120px;
        margin: 0;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }

    .one.activity img{
        height: 86.4%;
    }

    figure figcaption{
        margin: 0.7rem 1rem;
        font-weight: bold;
        font-size: 15px;
    }

    /** 
    * BLOC FOOTER
    */
    footer {
        background-color: #F2F2F2;
        padding: 10px 0 10px 0;
    }

    footer .row{
        display: flex;
        justify-content: space-between;
    }

    footer .cols-3{
        margin-bottom: 20px;
        width: 30%;
    }

    footer h2{
        margin: 2rem 0 1rem 0;
    }

    footer ul{
        padding: 0;
        list-style: none;
    }

    footer li{
        margin: 1rem 0;
        color: #000000;
    }



}

/** 
* ECRAN MIN 1025PX / DESKTOP ET PLUS
*/
@media only screen and (min-width: 1025px){
    /** 
    * DEBUT BLOC HEADER
    */
    .nav{
        max-width: 90%;
        margin: 0 auto;
        list-style: none;
        display: flex;
        align-items: center;
    }

    .nav ul{
        display: flex;
        list-style: none;
        margin: 0;
    }

    .nav li{   
        font-weight: 500;
        padding: 3em;
    }

    #logo{
        width: 100%;
    }

    .nav.active.on {
        border-top: 3px #0065FC solid;  
    }

    .nav.active.on a{
        color: #0065FC;    
    }

    .nav.active.off {
        border-top: 3px #ffffff solid;  
    }

    .nav.active.off a {
        color: #000000;  
    }
    
    .nav.active.off:active {
        border-top: 3px #0065FC solid;
        color: #0065FC;  
    }

    .nav.active.off a:active {
        color: #0065FC;  
    }

    .inscription{
        padding: 2em;
        font-weight: bold;
        color:#0065FC;
    }

    /** 
    * DEBUT BLOC FORMULAIRES
    */
    .icon_mapMarker{
        width: 5%;
    }

    .inputSearch{
        width: 15%;
        padding-left: 20px;
    }

    .submitForm{ 
        display: block;
        width: 10%;
    }

    .submitForm.Mobile{
        display: none;
    }

    /** 
    * DEBUT BLOC FILTRES
    */
    .filtres{
        display: flex;
        align-items: center;
        margin: 20px 0px 20px 0px;
    }

    .row.twoFilter{
        display: flex;
        align-items: center;
    }

    .row.threeFilter{
        display: flex;
        align-items: center;
    }

    .btnFilter{
        margin: 0px 0px 0px 30px;
    }

    .result{
        align-items: center;
    }

    .infoIcon{
        font-size: 0.7em;
        margin: 0 1rem 0  0;
        width: 30px;
        height: 30px;
    }

    .articles{
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-between;
    }

    .herbergement{
        width: 65%;
        background-color: #F2F2F2;
        padding-bottom: 20px;
        border-radius: 20px;
        margin: 0;
        padding: 20px 0 0 0;
    }

    .articlesHebergements{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .articlesHebergements article{
        width: 30%;
        height: 150px;
        margin: 0 0 20px 0;
        padding: 0.3rem;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .articlesHebergements article:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }  

    .imgHebergements img{
        height: 80px;
    }

    .infosHebergements p{
        margin-block-start : 0;
        margin-block-end : 4px;
        font-size: 12px;
    }


    aside{
        width: 30%;
        border-radius : 20px;
        padding: 20px 0 0 0;
    }

    /** 
    * DEBUT BLOC ASIDE POPULAIRES 
    */

    .articles aside .container{
        margin: 0;
        width: 100%;
    }

    .articlesPopulaires{
        width : 80%;
        margin : auto;
    }

    .articlesPopulaires article{
        height: 120px;
        padding: 0.3rem;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .articlesPopulaires article:hover{
        -webkit-transform: scale(1.07);
        transform: scale(1.07);
    }  

    .titlePopulaires{
        width : 80%;
        margin : auto;
    }
     
    .imgArticlesPopulaires{
        width: 40%;
    }

    .infosArticlesPopulaires{
        width: 50%;
        padding: 0 1rem;
    }

    .infosHebergements h2 , .infosArticlesPopulaires h2{
        font-size: 16px;
        margin-block-start: 2px;
        margin-block-end : 5px;
        height: 30%;
    }

    .infosArticlesPopulaires p{
        margin-block-start : 0;
        font-size: 12px;
        height: 30%;
    }

    .starArticlesPopulaires{
        height: 20%;
    }

    .starHebergements, .starArticlesPopulaires i{
        font-size: 12px;
    }
    

    /** 
    * DEBUT BLOC ACTIVITE A MARSEILLE 
    */
    .articlesActivity{
        display: flex;
        justify-content: space-between;
    }

    .one.activity{
        width: 23%;
    }

    .two.activity{
        width: 23%;
    }
    
    figure{
        background-color: #ffffff;
        margin: auto;
        border-radius: 1.25rem;
        box-shadow: 0 0 16px #0000002e;
        transition-duration: 0.1s;
        cursor: pointer;
        box-sizing: border-box;
        width: 100%;
        height: 170px;
        margin-bottom: 20px; 
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .two.activity .cardActivityTwo{
        height: 190px;
        margin-bottom: 40px;
    }

    .two.activity .cardActivityTwo img{
        height: 140px;
    }

    .two.activity .cardActivityThree{
        height: 130px;
    }

    .two.activity .cardActivityThree img{
        height: 80px;
    }

    .two.activity .cardActivityFive{
        height: 150px;
        margin-bottom: 40px;
    }

    .two.activity .cardActivityFive img{
        height: 100px;
    }

    .activity figure:hover{
        -webkit-transform: scale(1.075);
        transform: scale(1.075);
    }  

    .one.activity figure{
        height: 360px;
    }

    figure img{
        width: 100%;
        height: 120px;
        margin: 0;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }

    .one.activity img{
        height: 86.4%;
    }

    figure figcaption{
        margin: 0.7rem 1rem;
        font-weight: bold;
        font-size: 15px;
    }
    
    /** 
    * BLOC FOOTER
    */
    footer {
        background-color: #F2F2F2;
        padding: 10px 0 10px 0;
    }

    footer .row{
        display: flex;
        justify-content: space-between;
    }

    footer .cols-3{
        margin-bottom: 20px;
        width: 33%;
    }

    footer h2{
        margin: 2rem 0 1rem 0;
    }

    footer ul{
        padding: 0;
        list-style: none;
    }

    footer a{
        color: #000000;
    }

    footer li{
        margin: 1rem 0;
    }
    

}